<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/icon.png" />
    
    <title>Mobile Music</title>
    
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
    <link rel="stylesheet" href="styles.css">  
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.mobile.js"></script>
	<script type="text/javascript" src="js/jquery.tmpl.js"></script>
    <script type="text/javascript" src="js/knockout.js"></script>
	<script type="text/javascript" src="js/main.js"></script>    
    <script type="text/javascript" src="js/oauth.js"></script>
    <script type="text/javascript" src="js/sha1.js"></script>
    <script type="text/javascript" src="js/rc4.js"></script>
    <script type='text/javascript' src='js/jquery.urlshortener.js'></script>
    
	<script id="searchTemplate" type="text/html">
		<form method="post" data-ajax="false" onsubmit="return PPL.search.submit(this);">
			<div data-role="fieldcontain">
				<label for="search" class="searchlabel">
					<span class="searchlabelText">Search&nbsp;</span>
					<input type="search" name="searchBox" placeHolder="Search Songs" onkeyup="PPL.search.autoSubmit(this)">
				</label>
			</div>
		</form>
    </script>
    
	<script id="trackTemplate" type="text/html">
		{{if PPL.activePage().tracks.indexOf($data) == 0}}
			<li data-role="list-divider">Search Results</li>
		{{/if}}
		<li>
			<a href="${$data.song_url}">
				<img data-bind="attr: { src: $data.albumImage }" />
				<h3>${$data.artist}</h3>
				<p>${$data.title}</p>
				<span class="ui-li-count">${$data.duration}</span>
			</a>	
			<a data-bind="click: setActiveTrack" href="#track-view?trackid=${$data.trackid}" data-rel="dialog" data-transition="pop">More Options</a>			
		</li>
    </script>
    
	<script id="historyTemplate" type="text/html">
		{{if PPL.search.history().indexOf($data) == 0}}
			<li data-role="list-divider">Search History</li>
		{{/if}}
		<li>
			<a href="#search-results?keyword=${$data}">
				${$data} 
			</a>
		</li>	
    </script>
    
	<script id="playlistTemplate" type="text/html">
		<li data-role="list-divider">Saved Playlists</li>
		<li><a href="#saved-playlists?name=Awesome Mix">Awesome Mix</a></li>
		<li><a href="#saved-playlists?name=Party Mix">Party Mix</a></li>
		<li><a href="#saved-playlists?name=Slow Songs">Slow Songs</a></li>	
    </script>
    
    
	<script id="navbarTemplate" type="text/html">
			<div data-role="navbar">
                <ul>
                    <li><a href="index.html#main-page">Home</a></li>
                    <li><a href="index.html#search-page" class="ui-btn-active ui-state-persist">Search</a></li>
                    <li><a href="index.html#playlist-page">Playlists</a></li>
                </ul>
            </div>
    </script>    
</head>

<body>
    
    <div id="main-page" data-role="page" class="type-index">
    
        <div data-role="header" data-position="fixed" data-bind="template: { name: 'searchTemplate' }">
        </div><!-- /header -->
    
        <div data-role="content">	
			<ul class="historyTemplate" data-role="listview" data-theme="c" data-dividertheme="d" data-inset="true"  data-bind="template: { name: 'historyTemplate', foreach: PPL.search.history() }">
            </ul>
            <ul data-role="listview" data-theme="c" data-dividertheme="d" data-inset="true"  data-bind="template: { name: 'playlistTemplate' }">
            </ul>
		</div><!-- /content -->

    </div><!-- /page -->
         

    <div id="search-results" data-role="page">
    
        <div data-role="header"> 
            <span data-bind="template: { name: 'searchTemplate' }"></span>
        </div><!-- /header -->
        
		<div data-role="content">
            <div class="content-primary">
                <ul data-role="listview" data-bind="template: { name: 'trackTemplate', foreach: PPL.activePage().tracks() }" data-filter="true" data-filter-placeholder="Search within results" data-filter-theme="d">
                </ul>
            </div>
 		   <div class="content-secondary">
    
                <div data-role="collapsible" data-collapsed="true" data-theme="a">
                    <ul class="historyTemplate" data-role="listview" data-theme="c" data-dividertheme="d" data-bind="template: { name: 'historyTemplate', foreach: PPL.search.history() }">
                    </ul>
                    <br><br>
                    <ul data-role="listview" data-theme="c" data-dividertheme="d" data-bind="template: { name: 'playlistTemplate' }">
                    </ul>
                </div>
            </div>	
        </div>
        
        <div data-role="footer" data-position="fixed" data-id="navbar" data-bind="template: { name: 'navbarTemplate' }">
        </div><!-- /footer -->        
    </div>
    

    <div id="track-view" data-role="page">

		<div data-role="header" data-theme="a">
			<h1>Other Options</h1>
		</div><!-- /header -->

		<div data-role="content" data-theme="a">
        	<div data-role="content">
                <ul data-role="listview" data-dividertheme="a" data-theme="a">
                    <li>
                        <img data-bind="attr: { src: PPL.activePage().activeTrack().albumImage() }" />
                        <h3 data-bind="text: PPL.activePage().activeTrack().artist"></h3>
                        <p data-bind="text: PPL.activePage().activeTrack().title"></p>
                        <span class="ui-li-count" data-bind="text: PPL.activePage().activeTrack().duration"></span>
                    </li>
                </ul>
            </div>
			<a data-bind="attr: { href: PPL.activePage().activeTrack().song_url }" data-role="button" data-theme="b">Download</a>
            <a href="index.html" data-role="button" data-rel="back" data-theme="b">Add to Playlist</a>
			<a data-role="button" onclick="PPL.activePage().activeTrack().promptMoreOfArtist()">Find More By This Artist</a>
            <a data-role="button" onclick="PPL.activePage().activeTrack().fetchShortUrl()">Share Music Link</a>
            <span data-bind="visible: PPL.activePage().activeTrack().short_url() != ''">
                <div data-role="fieldcontain">
                    <label for="share">Copy To Share:</label>
                    <input type="text" id="share" data-bind="value: PPL.activePage().activeTrack().short_url()"  />
                </div>
            </span>
			<a href="index.html" data-role="button" data-rel="back">Go Back</a>
		</div>

        <div data-role="footer" data-position="fixed" data-id="navbar" data-bind="template: { name: 'navbarTemplate' }">
        </div><!-- /footer -->        
        
	</div><!-- /page -->
    
    
</body>
</html>

